.konvajs-content {
  background-color: white;
  border: 1px solid $gray;
  border-radius: 5px;
}

.konva-container {
  max-width: calc(100vw - 400px - 2rem);
  max-height: calc(100vh - 200px);
  width: 100%;
  height: 100%;
  &.text {
    cursor: text;
  }
  &.draw {
    cursor: url("/public/images/pen.svg"), default;
  }
  &.eraser {
    cursor: url("/public/images/eraser.svg"), text;
  }
}
