.LoginRegistration{
    text-align: center;
    justify-content: center;
    display: flex;
    padding-top: 90px;
     padding-bottom: 90px;
     border-radius: 10px;
     background-color: #e1e3eb;
  
     .sub-main{
      display: flex;
      justify-content: center;
      width: 35%;
      box-shadow: 20px 12px 13px 12px rgb(207, 207, 207);
      padding: 3rem 2rem;
      border-radius: 10px;
      background-color: white;
    
    }
    
    .title{
      padding-top: 20px;
      padding-bottom: 50px;
    }
    
    .imgs{
      padding-top: 20px;
      justify-content: center;
      display: flex;
    }
    
    .container-image{
      background-color: #5bcac3;
      border-radius: 150px;
      align-items: center;
      display: flex;
      height: 115px;
      width: 115px;
      justify-content: center;
    }

    .profile{
      width: 70%;
    }
    
    input{
      width: 300px;
      height: 50px;
      border-radius: 60px;
      border: 1px solid;;
      outline: none;
      background-color: #fff;
    
    }
    
    
    .name, .name-invalid{
      padding-left: 70px;
      font-size: 20px;
    
    }
    
    button{
      width: 380px;
      height: 50px;
      border-radius: 60px;
      background-color:	#5bcac3;
      color: white;
      font-size: 25px;
      border: none;
    }
    
    .loginRegister-button{
      margin-top: 3rem;
    }
    
    .link{
      margin-top: 40px;
      font-weight: 300;
      font-size: 16px;
      text-align: center;
    }
    
    a{
      color: #5bcac3;
      padding: 2px;
    }
    
    .imgs{
      padding-top: 20px;
      justify-content: center;
      display: flex;
    }
    
    .FirstName{
        padding-top: 30px;
    }
    
    .LastName{
        padding-top: 30px
      }

    .fas.fa-user{
      font-size: 20px;
      color: black;
      position: absolute;
      padding: 15px 0 0 20px;
    }

    .far.fa-user{
      color: white;
      font-size: 55px;
    }

    .fas.fa-lock{
      font-size: 20px;
      color: black;
      position: absolute;
      padding: 15px 0 0 20px;
    }
    .fas.fa-envelope{
      font-size: 20px;
      color: black;
      position: absolute;
      padding: 15px 0 0 20px;
  }

    .email{
      padding-top: 30px;
    }
    
    .password{
      padding-top: 30px;
    }
    
    .confirmPassword{
      padding-top: 30px;
      padding-bottom: 30px;
    }
    
    .loginRegister-button{
      margin-top: 3rem;
    }
    
    .link{
      margin-top: 40px;
      font-weight: 300;
      font-size: 16px;
      text-align: center;
    }

    .name-invalid{
      color: red;
    }

    .alert-input{
      position: relative;
      background: lightcoral;
      width: 300px;
      margin: auto;
      border-radius: 15px;
      margin-top: 5px;
      font-size: 20px;
      color: darkred;
    }

    .alert-success{
      position: relative;
      background: lightgreen;
      width: 250px;
      margin: auto;
      border-radius: 15px;
      margin-top: -20px;
      margin-bottom: 10px;
      padding: 15px;
      font-size: 22px;
      color: green;
    }

  }
  
